# Python Objects

Number <br/>
String <br/>
List <br/>
Dictionary <br/>
Turple <br/>
Sets <br/>
Boolean <br/>
None

#### Question: Whats the difference between python Data types, Python Objects and Python Data structures

## Numbers

In [33]:
sum(range(1, 8))

28

In [34]:
max(8,4,5,100)

100

In [35]:
num = 3.499

In [36]:
type(num)

float

## Strings

In [89]:
something = "python object"

In [91]:
anotherThing = something.split(" ")

In [92]:
anotherThing

['python', 'object']

In [119]:
for i in anotherThing:
    if i == anotherThing[0]:
        one = i.replace(i, "Bincome")
    elif i == anotherThing[1]:
        two = i.replace(i, " Accademy")

In [171]:
print one + two +"\nString length: " + str(len(one + two))

Bincome Accademy
String length: 16

# list

In [129]:
my_list = []

In [130]:
for i in something:
    my_list.append(i)
print my_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'o', 'b', 'j', 'e', 'c', 't']

In [132]:
my_list[:6]

['p', 'y', 't', 'h', 'o', 'n']

In [134]:
my_list[11]= "updated value"

In [135]:
print my_list

['p', 'y', 't', 'h', 'o', 'n', ' ', 'o', 'b', 'j', 'e', 'updated value', 't']

# Dictionary

In [136]:
months = ["january", "march", "april","febuary"]

In [137]:
months_abb = dict((m[:3].lower(), m) for m in months)

In [138]:
print months_abb

{'jan': 'january', 'apr': 'april', 'mar': 'march', 'feb': 'febuary'}

In [144]:
keys = months_abb.keys()
values = months_abb.values()

In [146]:
print keys + values

['jan', 'apr', 'mar', 'feb', 'january', 'april', 'march', 'febuary']

# Turple

In [151]:
turp = tuple(anotherThing)

In [152]:
print turp

('python', 'object')

In [153]:
turp[0]

'python'

In [156]:
"python" in turp

True

# Set

In [159]:
a = set(["python","data","types"])
b = set(["or","python","objects"])

In [160]:
a | b

{'data', 'objects', 'or', 'python', 'types'}

In [163]:
a.intersection(b)

{'python'}

In [165]:
c = a - b #difference

In [166]:
c

{'data', 'types'}

In [167]:
c.copy()

{'data', 'types'}

pure data types

complex data types

In [179]:
name = "bincome "

In [188]:
print " hey now "+("%s,"*3) % (1,2,3)

 hey now 1,2,3,